@media all and (max-width:991px){
    .main_area {
    padding: 30px 0;
    }
    .hero_section::after {
        height: 97px;
    }
    .main_area::after {
        height: 234%;
        top: -142%;
        z-index: 99999;
    }
    .footer_area_design {
        padding-top: 56px;
    }
    .single_f h2 {
        font-size: 17px;
        margin-bottom: 18px;
    }
    .f_social ul li {
        padding-right: 17px;
    }
    .f_social ul li a {
        font-size: 18px;
    }
    .f_menu ul li a {
        font-size: 14px;
        margin-bottom: 14px;
    }
    .new_input input {
        font-size: 14px;
        padding: 14px;
    }
    .single_address {
        display: flex;
        align-items: center;
        flex: 0 0 33%;
    }
    .menu_design ul li {
        position: relative;
        padding-right: 63px;
        transition: 0.3s;
    }
    .menu_design ul li a {
        position: relative;
        font-size: 15px;
    }
}


@media all and (max-width:767px){
    .single_address {
        display: flex;
        align-items: center;
        flex: 0 0 50%;
    }
    .all_address {
        flex-wrap: wrap;
    }
    .single_address:last-child{
        margin-top: 20px;
    }
    .logo img {
        width: 86px;
    }
    .menu_design{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
}

@media all and (max-width:575px){
    .single_address {
        flex: 0 0 100%;
    }
    .single_address{
        margin-bottom: 20px;
    }
    .single_address:last-child{
        margin-top: 0;
        margin-bottom: 0;
    }
    .hero_con span {
        font-size: 14px;
    }
    .hero_con h1 {
        font-size: 33px;
    }
}